body {
   font-family: Arial, sans-serif;
   background: url('img/website-vscode.jpg') no-repeat center center/cover;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;
}

/* Blurry Effect */
.blur-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(5px);
   background: rgba(196, 196, 196, 0.5);
   /* Dark overlay for better contrast */
}

img {
position: fixed;
   top: 15%;
   left: 17.5%;

}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   display: none;
   justify-content: center;
   align-items: center;
}

.enquiry-container {
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 400px;
   position: relative;
}

.enquiry-container h2 {
   text-align: center;
   color: #333;
}

.enquiry-form {
   display: flex;
   flex-direction: column;
}

.enquiry-form input,
.enquiry-form textarea {
   margin: 10px 0;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
}

.enquiry-form button {
   background: #007bff;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

.enquiry-form button:hover {
   background: #0056b3;
}

.enquiry-button {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #242424;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

.enquiry-button:hover {
   background: #000000;
}
